<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Career Page Test Suite">
    <test name="UI Tests">
        <classes>
            <class name="tests.CaseStudyTest">
                <methods>
                    <include name="firstTest"/>
                    <include name="secondTest"/>
                    <include name="thirdTest"/>
                    <include name="fourthTest"/>
                    <include name="fifthTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
